# Node
frontend/node_modules/
frontend/dist/

# Python
backend/__pycache__/
*.pyc
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
# Python
backend/__pycache__/
**/__pycache__/
*.pyc
backend/db.sqlite3

# Node
frontend/node_modules/
frontend/dist/

# Environment
.env